.component-checkbox {
  padding: 10px;
  input {
    display: none;
  }

  label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    padding-left: 32px;
    /* background-image: url("img/unchecked.png"); */
    background-repeat: no-repeat;
    font-weight: bold;
  }

  /* input:checked ~ label {
    background-image: url("img/checked.png");
  } */

  &.checked label {
    background-image: url("img/checked.png");
  }

  &.unchecked label {
    background-image: url("img/unchecked.png");
  }

  &.half-checked label {
    background-image: url("img/half-checked.png");
  }
}