.page-login {
  color: var(--clr-font);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 13px;
  padding: 0 12px;

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  .logo {
    text-align: center;
    img {
      width: 70px;
    }
  }

  .app-name {
    font-size: 32px;
    line-height: 122.5%;
  }

  .form-inputs {
    width: 100%;
    padding: 29px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
  }

  input[type="text"] {
    width: 100%;
  }
  
  .component-checkbox {
    width: 100%;
  }

  .another-login-methods {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  .form-buttons {
    display: flex;
    gap: 6px;
    .btn:nth-child(1) {
      /* flex-grow: 1; */
      /* font-weight: bold; */
      flex: 1 0 100px;
    }
    .btn:nth-child(2) {
      flex: 0 0 40px;
      img {
        margin: -6px 0 0 0;
      }

    }
  }

  /* .component-btn { */
  /*   width: 100%; */
  /* } */
  

}
