.picker {
  display: grid;
  grid-template-columns: 115px 115px 53px;
  grid-template-rows: 20px 40px;
  row-gap: 0;
  column-gap: 5px;

  &__from-txt {

  }

  &__to-txt {

  }

  &__from-input, &__to-input {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    input { 
      flex-basis: 100%;
      flex-shrink: 1;
      flex-grow: 1;
    }

  }

  &__from-input {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__to-input {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &__icon {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

}

.react-datepicker-wrapper {
  height: 100%;

}