table.table-two-dimensional {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;

  thead {
    text-align: left;
    border-width: 0 0 2px 0;
    border-color: black;
    border-style: solid;
  }
  
  tr {
    &:nth-child(2n) {
      background: #ebebeb;
    }

    &:nth-child(2n+1) {

    }

    height: 49px;
  }
  
  th {
    cursor: pointer;
    user-select: none;
    /* background-image: url('img/default.png'); */
    background-position: right 5px top 10px;
    background-repeat: no-repeat;

    &::after {
      content: '';
      padding-left: 10px;
      /* color: black; */
      font-size: 22px;
      font-weight: 700;
    }

    &.asc::after {
      content: '↓';
    }

    &.desc::after {
      content: '↑';
    }

    /* &.asc {
      background-image: url('img/up_arrow.png');
    }
    &.desc {
      background-image: url('img/down_arrow.png');
    } */
  }

  th, td {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .err-badge {
    display: inline-block;
    padding: 4px 6px;
    /* padding: 0.25rem 0.4rem; */
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    font-size: 75%;
    line-height: 75%;
    /* border-radius: 4px; */
    /* min-width: 30px; */
    /* font-size: 14px;
    line-height: 14px; */
    text-align: center;
    font-weight: 700;
    user-select: none;

    &.err-event {
      background-color: var(--clr-err-event);
      color: white;
    }
    &.err-info {
      background-color: var(--clr-err-info);
      color: white;
    }
    &.err-maintenance {
      background-color: var(--clr-err-maintanance);
      color: var(--clr-font);
    }
    &.err-error {
      background-color: var(--clr-err-error);
      color: white;
    }
    &.err-tech-info {
      background-color: var(--clr-err-tech-info);
      color: white;
    }
  }

  .table__cell {
    &-errorCode {
      text-align: center;
    }
    &-errorDesc {
      &::before {
        /* margin: 0 6px 0 6px;
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px; */
      }
      &.err-event::before { 
        background-color: var(--clr-err-event);
        box-shadow: 0 0 5px 0 var(--clr-err-event);
      }
      &.err-info::before { 
        background-color: var(--clr-err-info);
        box-shadow: 0 0 5px 0 var(--clr-err-info);
      }
      &.err-maintenance::before { 
        background-color: var(--clr-err-maintanance);
        box-shadow: 0 0 5px 0 var(--clr-err-maintanance);
      }
      &.err-error::before { 
        background-color: var(--clr-err-error);
        box-shadow: 0 0 5px 0 var(--clr-err-error);
      }
      &.err-tech-info::before { 
        background-color: var(--clr-err-tech-info);
        box-shadow: 0 0 5px 0 var(--clr-err-tech-info);
      }

    }
    /* &-errorCode {

    } */
    /* table__cell-errorCode */
  }
}

