@import 'style/media-queries';

.filters-aside {
  /* background-color: gray; */

  overflow-x: hidden;
  position: relative;
  transition: width 0.5s ease;

  &.visible {
    width: 285px
    /* .filters-aside__inner {  } */
  }

  &.hidden {
    width: 0px
    /* .filters-aside__inner {  } */
  }

  &__inner {
    position: absolute;
    width: 285px;
    padding: 0 16px;
  }

  & &__toggle-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .filters-section {
    margin-bottom: 30px;
  
    /* Sections */
  
    &-restaurants {
      /* .filters-section__component {
        display: flex;
        flex-direction: column;
        gap: 20px;
      } */
      .search-input {
        margin-bottom: 20px;
      }
    }
  
    .sn-badges {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;
    }
  
    /* End-Sections */
  
    &__header {
      margin-bottom: 20px;
    }
  
    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
    &__subtitle {
      font-size: 14px;
      font-weight: 350;
      line-height: 20px;
    }
    &__component {
  
    }
  }
}

@media (--xl-min) {
  .filters-aside {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
}

@media (--lg-max) {
  .filters-aside {
    position: absolute;
    width: 285px;
    height: calc(100% + 16px);
    background-color: white;
    z-index: 1;
    top: -16px;
    left: 0;
    &__inner {
      padding-top: 46px;
    }
  }
}

