.app-name {
  font-family: "Impact", sans-serif;
  /* font-family: "Segoe UI", Arial, sans-serif; */
  font-size: 40px;
  line-height: 49px;
  font-weight: 400;
  color: white;
  /* margin-left: 1rem; */
  user-select: none;
}

