.daterange {
  &__output {
    height: 10px;
    width: 100%;
    /* background-color: red; */
    position: relative;
  }

  &__first, &__second {
    z-index: 2;
    top: -16px;
    transform: translateX(100%);
    display: block;
    width: 89px;
    height: 40px;
    background-image: url('date-bg.svg');
    background-repeat: no-repeat;
    position: absolute;
    /* transform: translateX(-50%); */
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-font-accent);
    padding: 6px;
    border-radius: 2px;
    &:hover { z-index: 3; }
  }

  &__first {
    /* left: 10%; */
  }

  &__second {
    /* left: 70%; */
  }
}