.page-maintenance__working-hours__overview {
  .page__content {
    display: grid;
    gap: 20px;
    grid-template-columns: 717fr 328fr 442fr;
    grid-template-rows: repeat(2, 350px);
  }

  .diagram__downtime-by-hours {
    .diagram__inner {
      /* overflow: scroll; */
    }
  }

  .diagram__downtime-causes {
    .diagram__inner {
      width: 185px;
      height: 185px;
      margin: auto;
    }
  }

}