.page-analytics__trends__overview {

  .page__content {
    display: grid;
    /* gap-ro: 1rem; */
    row-gap: 40px;
    column-gap: 69px;
    grid-template-columns: 854px 653px;
    grid-template-rows: repeat(2, 350px);
  } 

  .info-block.analytics__trends__consumptions {
    padding: 32px 40px;
    /* gap: 22px 13px; */
    .info-block__header {
      display: none;
    }

    .info-block__content {
      gap: 13px;
      /* column-gap: 13px;
      row-gap: 22px; */
    }
  }
}