.tabs {
  height: 72px;
  background-color: white;
  box-shadow: var(--shadow);
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &-top {
    z-index: 2;
    .container {
      gap: 69px;
    }
    font-size: 20px;
  }

  &-bottom {
    position: relative;
    z-index: 1;

    .container {
      gap: 14px;
    }
  }

  .tab {
    /* padding: 1rem 2rem; */
  }

  .header-widgets {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
  }

  &.colorschema-monitoring {
    .tab[href="/maintenance/monitoring/all"]::before {
      /* background-color: red; */
    }
    .tab[href="/maintenance/monitoring/events"]::before {
      background-color: var(--clr-err-event);
      box-shadow: 0 0 5px 0 var(--clr-err-event);
    }
    .tab[href="/maintenance/monitoring/info"]::before {
      background-color: var(--clr-err-info);
      box-shadow: 0 0 5px 0 var(--clr-err-info);
    }
    .tab[href="/maintenance/monitoring/maintanence"]::before {
      background-color: var(--clr-err-maintenance);
      box-shadow: 0 0 5px 0 var(--clr-err-maintenance);
    }
    .tab[href="/maintenance/monitoring/errors"]::before {
      background-color: var(--clr-err-error);
      box-shadow: 0 0 5px 0 var(--clr-err-error);
    }
    .tab[href="/maintenance/monitoring/tech-info"]::before {
      background-color: var(--clr-err-tech-info);
      box-shadow: 0 0 5px 0 var(--clr-err-tech-info);
    }
    /* .tab::before {
    } */
  }

}


.header-widgets {
  
}