@import 'style/media-queries';

/* EXTRA EXTRA LARGE */
@media (--xxl) {
  .container { 
    margin: auto;
    width: 86.3%; 
  }
}

/* EXTRA LARGE */
@media (--xl) {
  .container { width: 1595px; }
}

/* LARGE */
@media (--lg) {
  .container { 
    padding-left: 40px;
    padding-right: 40px;
    width: 100%; 
  }
  /* .container { width: 1220px; } */
}

/* MEDIUM */
@media (--md) {
  .container { 
    padding-left: 40px;
    padding-right: 40px;
    width: 100%; 
  }
  /* .container { width: 900px; } */
}

/* SMALL */
@media (--sm) {
  .container { 
    padding-left: 40px;
    padding-right: 40px;
    width: 100%; 
    min-width: 880px;
  }
  /* .container { width: 460px; } */
}

/* EXTRA SMALL */
@media (--xs) {
  .container { 
    padding-left: 40px;
    padding-right: 40px;
    width: 100%; 
    min-width: 880px;
  }
  /* .info-block { border-radius: 0; } */
}

@media (--landscape) {
}

@media (--square) {
}

@media (--portrait) {
}