@import 'style/media-queries';

.page-shared__settings {
  .page__content {
    display: grid;
    gap: 40px 70px;
    grid-template-columns: 462fr 1064fr;
    grid-template-rows: repeat(2, 300px);

    /* Структура ресторанов */
    > :nth-child(1) {
      .info-block__content {

        height: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          background-color: transparent !important;
        }
      }
    }

    /* Период данных */
    > :nth-child(2) {
      .info-block__content {
        display: flex;
        justify-content: center;
        align-items: center;
        .daterange {
          flex-basis: 80%;
        }
      }
    }

    /* Модель кофе-машины */
    > :nth-child(3) {

    }

    /* Рецепты */
    > :nth-child(4) {

    }
  }
}

.page-shared__table {
  min-height: 100%;
  .page__content {
    
    display: grid;
    position: relative;
    
    .filters-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
    }

    .filters-bottom {
      display: flex;
      justify-content: center;
    }

    @media (--xl-min) {
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto 1fr auto;
      
      .filters-aside {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      .filters-top {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      
      .table-wrapper {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        /* min-height: 500px; */
      }
  
      .filters-bottom {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }

    @media (--lg-max) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;

      .filters-top {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      
      .table-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
  
      .filters-bottom {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }

  }
}