.search-input {
  /* padding: 20px; */
  input {
    width: 100%;
    height: 40px;
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position: 6px 9px;
    background-size: 20px 20px;
    padding-left: 28px;
    border-width: 0 0 1px 0;
    border-color: var(--clr-info-light);
    color: var(--clr-font);
    /* color: var(--clr-info-light); */
  }
  input:focus,
  input:active {
    outline: none;
    border-color: var(--clr-font-accent);
  }
}