.modal-box-upload-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    background-color: white;
    border-radius: 8px;
    width: 440px;
    height: 644px;
    max-width: 768px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    h1 {
      font-size: 24px;
      font-weight: 600;
      padding: 20px;
    }

    .box {
      display: inline-block;
      padding: 10px;
      box-sizing: border-box;
    }
    .img-preview {
      overflow: hidden;
    }
    
  }
}