.modal-box-users {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 72px);
  z-index: 100;
  background-color: rgba(0,0,0, 0.45);

  &_visible {
    display: block;
  }

  &_hidden {
    display: none;
  }

  &__header {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

  &__top-bar {
    margin-top: 26px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 14px;

    .input-text {
      flex-grow: 1;
    }
  }

  

  .create-new-user-btn {
    /* width: 100%;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 10px; */
  }

  &__inner {
    border-radius: 8px;
    background-color: white;
    position: absolute;
    /* height: 542px; */
    top: 66px;
    left: 0; right: 0;
    margin: auto;
    padding: 24px 78px 32px;

    &.modal-box-users__page-all-users {
      width: 656px;
    }
    &.modal-box-users__page-add-user {
      width: 440px;
    }
  }

  &__list {
    margin-top: 27px;
    height: 220px;
    overflow-y: auto;
  }

  &__user {
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 10px;
    height: 44px;
    line-height: 24px;

    &.active {
      background-color: var(--clr-bg-select);
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 24px;

    .input-text { margin-top: 0; }
  }

  &__buttons {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    .btn { 
      width: 145px;
    }
  }

  &__close-btn, &__back-btn {
    position: absolute;
    cursor: pointer;
    user-select: none;
  }

  &__close-btn {
    top: 20px;
    right: 20px;
    &:hover {
      filter: brightness(0);
    }
  }

  &__back-btn {
    top: 23px;
    left: 40px;
  }
}
