.logo {
  display: block;
  height: 100%;
  /* width: 40px; */
  aspect-ratio: 1 / 1;
  /* background-color: greenyellow; */
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &-fixed {
    width: 100px;
    height: 100px;
  }

  &-square {

  }
}