.logo {
  display: block;
  /* height: 100%; */
  /* width: 40px; */
  aspect-ratio: 1 / 1;
  /* background-color: greenyellow; */
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    display: block;
    /* width: 31.29px; */
  }

  &.light {
    img {  }
  }
  
  &.dark {
    img { filter: invert(1); }
  }

  &-fixed {
    width: 72px;
    height: 72px;
    img {
      width: 31.29px;
      display: block;
    }
  }

  &-square {

  }
}