.layout-main {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 72px 1fr;
  grid-template-rows: 72px 1fr;

  .panel {
    &-top {
      position: relative;
      grid-column: 1 / -1;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      &__inner {
        position: absolute;
        left: 72px;
        width: calc(100% - 72px);
        height: 100%;
        
        .container-fluid {
          padding-left: 21px;
          height: 100%;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }

      &__search-bar {
        width: 353px;
        margin-left: auto;
        margin-right: 0;
      }

      .divider {
        position: absolute;
        left: 72px;
        transform: translateX(-50%);
        height: 60px;
        width: 2px;
        background-color: white;
        border-radius: 1px;
        box-shadow: 0px 0px 2px white;
        box-shadow: 0 0 6px #7D7D7D inset,

      }

      .spacer {
        flex-grow: 1;
      }

      a.contact-link {
        color: white;
        margin-left: 2rem;
        font-size: 1rem;
      }
    }
    &-left {
      display: flex;
      flex-direction: column;
      background-color: black;

      &__item {
        display: block;
        width: 72px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img { 
          width: 30px;
          height: 30px;
          transition: all .5s ease;
          opacity: 0.56; 
        }

        &.active {
          background-color: #705141;
          box-shadow: 4px 4px 8px rgba(0,0,0,0.25) inset;
          img { opacity: 1.0; }
        }
      }
      &__item:hover {
        img { opacity: 1; }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);

    .tabs {
      flex-shrink: 0;
    }
    /* height: 100%; */
    /* overflow-y: scroll; */
  } 

  &__content-area {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: fill; */
    /* overflow: hidden; */
    overflow-y: scroll;
  }
  

}