.widget {

  &.left {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.right {
    align-items: flex-end;
  }

  &.reverse {
    flex-direction: column;
  }

  &-header {
    position: relative;
    display: grid;
    height: 60px;
    padding: 0 30px;
    column-gap: 13px;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
    /* border-left: 2px solid #7D7D7D; */

    &:last-child {
      padding-right: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      left: -1px;
      top: 0;
      border-radius: 1px;
      background-color: #7D7D7D;
      opacity: 0.8;
    }

    .widget__icon {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .widget__amount, .widget__description {
      text-align: center;
    }

    .widget__amount {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: var(--clr-font-accent);
    }

    .widget__description {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--crl-font-primary);
      /* Weight
      400
      Size
      14px
      Line height
      20px */
    }
  }

  &-chart {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 16px;
  
    .widget__amount {
      font-size: 36px;
      line-height: 20px;
      color: var(--clr-font-accent);
    }

    .widget__description {
      /* padding: 0 20px; */
      word-wrap: wrap;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
    }
  }

  &-chart-doughnut {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  
    .widget__amount {
      font-size: 24px;
      line-height: 20px;
      color: var(--clr-font);
      font-weight: 600;
    }

    .widget__description {
      word-wrap: wrap;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
    }
  }

  &-week-to-week {
    display: flex;
    flex-direction: row;
    gap: 13px;
    /* padding: 0 10px; */

    .widget__amount {
      font-size: 24px;
      line-height: 20px;
      color: var(--clr-font-accent);
    }
    .widget__description {
      font-size: 14px;
    }
    .widget__icon {
      display: none;
    }

  }

  &-chart-small {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    .widget__icon {
      display: none;
      /* position: absolute;
      bottom: -7px;
      left: 0; */
    }
    .widget__amount {
      /* padding-left: 35px; */
      text-align: left;
      font-size: 28px;
      line-height: 20px;
      color: var(--clr-font-accent);
      font-weight: bold;
    }
    .widget__description {
      text-align: left;
      /* height: 40px; */
      color: var(--clr-font);
      word-wrap: wrap;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-description {
    .widget__icon, .widget__amount {
      display: none;
    }
    .widget__description {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  &-chart-icon {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr 1fr;
    .widget__icon {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    .widget__amount {
      font-size: 2rem;
      font-weight: bold;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    .widget__description {
      font-size: 1.3rem;
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
  }

  &-dashboard {
    position: relative;
    padding: 12px;
    /* border-width: 1px; */
    /* border-color: var(--clr-info-block-border); */
    /* border-style: solid; */
    border-radius: 12px;
    background-color: var(--clr-info-bg);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;

    .widget__amount {
      margin-top: 10px;
      font-size: 36px;
      line-height: 20px;
      color: var(--clr-font-accent);
      /* font-weight: bold; */
    }
    .widget__description {
      font-size: 14px;
    }
    .widget__icon {
      position: absolute;
      top: 11px;
      left: 14px;
    }
  }

  &-dayly-reports {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 16px;

    .widget__amount {
      font-size: 24px;
      line-height: 20px;
      color: var(--clr-font-accent);
    }
    .widget__description {
      word-wrap: wrap;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
    }
  }

  &-dayly-reports-2 {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;

    .widget__icon {
      position: absolute;
      bottom: -7px;
      left: 0;
    }
    .widget__amount {
      padding-left: 35px;
      font-size: 16px;
      line-height: 20px;
      color: var(--clr-font-accent);
      font-weight: bold;
    }
    .widget__description {
      height: 40px;
      color: var(--clr-font);
      word-wrap: wrap;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-dayly-reports-3 {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 16px; */

    .widget__icon {
      order: 1;
      margin-bottom: 4px;
    }
    .widget__description {
      order: 2;
      margin-bottom: 11px;
      height: 40px;
      color: var(--clr-font);
      word-wrap: wrap;
      font-size: 14px;
      line-height: 20px;
    }
    .widget__amount {
      order: 3;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      color: var(--clr-font-accent);
    }
  }

  &-downtime-cause {
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 18px;

    .widget__icon {
      display: none;
    }

    .widget__amount {
      font-size: 24px;
      line-height: 20px;
      font-weight: 600;
    }

    .widget__description {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }


  }


  &-header {
    .widget__amount {}
    .widget__description {}
    .widget__icon {}
  }
}