.info-block {
  padding: .7rem;
  border-width: 1px;
  border-color: var(--clr-info-block-border);
  border-style: solid;
  border-radius: .6rem;
  background-color: var(--clr-info-bg);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &__header {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--clr-font);
    margin-bottom: 1rem;
  }

  &__content {
    flex-grow: 1;
  }

  /* Чарт и два виджета справа */
  &.layout-chart {
    .info-block__content {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr 1fr;

      > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      > div:nth-child(2) {
        /* grid-column: 2 / 3;
        grid-row */
      }
      > div:nth-child(3) {

      }
    } 
  }

  /* Чарт и 1 виджет сверху */
  &.layout-chart-2 {
    .info-block__content {
      display: flex;
      flex-direction: column;
      .widget {
      }
      .diagram {
        flex-grow: 1;
      }
    }
  }

  /* Чарт и 2 виджета сверху */
  &.layout-chart-3 {
    .info-block__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 5rem 1fr;
      .diagram {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
    }
  }

  /* Чарт занимает все пространство */
  &.layout-chart-solo {
    .info-block__content {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  /* 4 виджета */
  &.layout-grid-2x2 {
    .info-block__content {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

}
