.input-text {

  &.error {
    label { color: red; }
    input { border-color: red; }
  }


  position: relative;

  label {
    width: 100%;
    font-size: 14px;
    display: block;
    color: var(--clr-info-light);
    min-height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    padding: 0 10px;
    color: var(--clr-font);

    &:focus {
      outline: none;
      border-color: var(--clr-font-accent);
    }
  }

  &.search input {
    padding: 0 10px 0 36px;
    background-image: url("./search.svg");
    background-position: top 8px left 10px;
    background-repeat: no-repeat;
  }

  .icon-show-password {
    position: absolute;
    bottom: 11px;
    right: 11px;
    cursor: pointer;
  }

  /* input[type="password"] {
    background-image: url('show-password.svg');
    background-repeat: no-repeat;
    background-size: 21px 18px;
    background-position: right 11px top 11px;
  } */

  /* background-image: url('calendar.svg');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: right 3px; */
}
