.calendar {
  color: var(--clr-font-primary);
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 100px;
  background-color: #f3f3f3;
  border-radius: 15px;
  width: 360px;
  box-shadow: var(--shadow);
  overflow: hidden;
  user-select: none;
  transform-origin: 0 0;
  transform: scale(0.7);
  /* height: 404px; */

  &__selection-row {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* CAC4D0 */
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #CAC4D0;
  }
  
  &__year-month-picker {
  }

  &__month-picker, &__year-picker, &__year-month-picker {
    cursor: pointer;
    
    &::after {
      padding-left: 6px;
      font-size: 10px;
      content: "▼";
      text-align: super;
    }
  }

  &__scroll-area {
    height: 340px;
    display: flex;
    align-items: stretch;
  }
  &__month-area,
  &__year-area,
  &__year-month-area {
    cursor: pointer;
    overflow-y: scroll;
    &::-webkit-scrollbar { display: none; }
  }
  &__month-area, &__year-area {
    flex: 0 0 50%;
  }
  &__year-month-area {
    flex: 0 0 100%;
  }
  &__month-area {
  }
  &__year-area {
  }
  &__month, &__year {
    padding-left: 56px;
  }
  &__month, &__year, &__year-month {
    height: 48px;
    line-height: 48px;
    &.active {
      background-color: #E2E2E3;
      background-image: url('check.svg');
      background-repeat: no-repeat;
      background-position: 16px 12px;
    }
  }
  &__year-month {
    text-align: center;
  }
  &__selection-arrow {
    &.available {
      cursor: pointer;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  &__grid {
    /* height: 340px; */
    padding: 0 12px 4px;
  }
  &__grid-inner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 48px);
    grid-template-rows: repeat(6, 48px);
  }
  &__weekday, &__monthday {
    align-self: center;
    justify-self: center;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* align-items: center; */
  }
  &__monthday {
    cursor: pointer;
    border-radius: 50%;
    transition: .5s linear;
    /* &:hover {
      background-color: var(--clr-font-light);
      color: white;
    } */
    &.active {
      border-radius: 50%;
      background-color: var(--clr-font-accent);
      color: white;
    }
    &.disabled {
      /* color: red; */
      color: #a5a5a5;
      /* cursor: not-allowed; */
    }
    &.unavailable {
      cursor: not-allowed;
      color: #a5a5a5;
    }
  }

}
